/* Text defaults */
body {
  font-family:"Serif";
}
h1 {
  font-size:300%;
}
p {
  text-indent:1em;
}

/* Other stuff */

#outer_container {
}
#body {
  position:absolute;
  width:500px;
  height:100px;
  top:50%;
  left:50%;
  margin-top:-50px;
  margin-left:-250px;
  text-align:center;
}
#crypt {
  width:60px;
}
#hash {
  text-align:center;
}
